# Ignore everything
/ExposeIt/*

# Unignore .gitignore file itself
!.gitignore

# Re-include Assets path but ignore its contents
!/ExposeIt/Assets/
/ExposeIt/Assets/*

# Re-include Plugins and your plugin specifically
!/ExposeIt/Assets/Plugins/
!/ExposeIt/Assets/Plugins/ExposeIt/
!/ExposeIt/Assets/Plugins/ExposeIt/**
